version: "3.9"

services:
  app:
    build: .
    image: demo-app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
    command: node index.js

  jenkins:
    image: jenkins/jenkins:lts
    ports:
      - "8082:8080"
      - "50002:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false

volumes:
  jenkins_home:
